<table class="box attributes">
  <%= render :partial => "scrum/velocity_form",
             :locals => {:url => burndown_project_product_backlog_index_path(@project),
                         :sprints_count => @sprints_count,
                         :velocity => @velocity,
                         :velocity_type => @velocity_type} %>
</table>